@import "tailwindcss";


html, body {
  font-family: "Noto Sans Georgian", sans-serif;
  background-color: #fafafa;
  color: #141719;
  font-size: 14px;
  padding-top: 40px;
  scroll-behavior: smooth;
}

.navbar {
  transition: transform 0.4s ease, opacity 0.4s ease;

}

.navbar.hidden {
  transform: translateY(-100%);
  opacity: 0;
  transition: transform 5s cubic-bezier(0.25,1,0.5,1), opacity 1s ease-out;
}


#navbar{
    height: 80px;
    font-size: 14px;
    z-index: 50;
    transition: top 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
}


.navbar.scrolled-up{
    transform: translateY(0);
    background-color: rgba(255, 255, 255, 0.95); /* semi-transparent white */
    backdrop-filter: blur(7px);
    opacity: 1;
    transition: transform 5s cubic-bezier(0.25,1,0.5,1), opacity 1.2s ease-out, background-color 0.3s ease, box-shadow 0.3s ease;

}

.contentContainer {
  width: 1107.8px;
}



#logo{
  width: 47px !important;
}

.mainText{
  font-size: 31px;
  font-weight: 700;
}


.almostCubeImageContainer {
  max-width: 550px;
  position: relative;
  margin: auto;
  height: 350px !important;
  margin-right: 0;
}

.leaveItemContainer{
  max-width: 590px;
  position: relative;
  
  margin-right: 24px;
  height: 482px !important;
  overflow: hidden; /* crop zoomed image */
  display: inline-block; /* keeps the size fixed */
  border-radius: 10px;
  
}

.leaveItem{

transition: transform 1s ease;
}

.leaveItemContainer:hover .leaveItem{
  transform: scale(1.17);   /* start off to the right */
}

.similarImgsContainer{
  max-width: 700px;
  position: relative;
  margin: auto;
  height: 230px !important;
   overflow: hidden; /* crop zoomed image */
  border-radius: 10px;
}


.buyItem, .sellItem{
  
  max-height: 100%;
  width: 500px;
   object-fit: cover;
  margin: 0 auto;
  border-radius: 10px;
  transition: transform 1s ease;
}

.similarImgsContainer:hover .buyItem, .similarImgsContainer:hover .sellItem{
  transform: scale(1.17);   /* start off to the right */
}

.almostCubeImg, .leaveItem{
  width: 100%;
  height: 100% !important ;
  object-fit: cover;
  margin: 0 auto;
  border-radius: 10px;
}


h2{
  font-size: 25.7px;
  font-weight: 550;
}


.textOnDiv {
    padding: 8px 12px;
  position: absolute;
  /* top: 8rem;
  left:10rem; */
}

.textOnContainer{color: #f2f2f2;
  font-size: 20.8px;
  width: 100%;
  height: 35%;
  text-align: left;
  margin-top: 44px;
  margin-left: 10px;
  align-self: center;
  font-weight: 599;}




.textOnSimilarContainer{
  color: #f2f2f2;
  font-size: 20.8px;
  width: 100%;
  height: 35%;
  text-align: left;
  margin-left: 10px;
  align-self: center;
  font-weight: 599;
  margin-bottom: 32px;
}




.invitationContainer{
  
  width:  100%;
  background-image: url("../images/openSign.jpg");
  height: 170px !important;
  border-radius: 10px;
  background-size: cover;
  background-position: center;
  
}


.textOnInvitationDiv {
    padding: 8px 12px;
  
  /* top: 8rem;
  left:10rem; */
}

.textOnInvitationContainer{color: #f2f2f2;
  
  font-size: 28px;
  width: 100%;
  height: 50%;
  text-align: left;
  align-self: center;
  font-weight: 700;
}


.horizontalLineInDiv{
  color: #e3e3e3;
  background-color: #e3e3e3;
  width: 100%;
  height: 1.4px;  
  border-radius: 10px;
}

.invitationContainersContainer{
  
 
  
  height: 125% !important;

  border-radius: 10px;
  background-color:   #ffffff;
  align-items: center;
  justify-content: center;
  display: flex;
  
}


.containerPositioner{
  color: #f2f2f2;
  font-size: 28px;
  text-align: left;
  align-self: center;
  font-weight: 700;

}

.PercentCubeImageContainer{
  background-color: #ffffff;
  border-radius: 10px;
  
  height: 250px;
  width: 345px;

  border-width: .8px;
  border-color: #f0f2f2;

  padding: 24px;
}


.percentIconContainer{

background-color: #A4C1E5;
border-radius: 10px;
  
height: 64px;
width: 64px;

}


.percentNum{
  color:#2f62a1;
  font-weight:900;
  font-size: 19px;
}

.boxHeading{
  font-size: 19px;
}

.boxText{
  color:#788082;
}


.boxText:hover{
  color:#353c3d;
}


.upFooter{
background-color: #ffffff;


}

.footerBoxHeading{
font-weight: 700;

}

.no-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}



.horizontalLineInDivBott{
  color: #e3e3e3;
  background-color: #e3e3e3;
  width: 100%;
  height: 0.5px;  
  border-radius: 10px;
}



.iconDiv{
  width: 40px;
  height: 40px;

  background-color: #f5f7f7;
  border-radius: 5px;
}

.iconDiv:hover{
  background-color:#f0f2f2;

}

.iconLogo{
  border-radius: 5px;
}



/* .whiteWholeBG{
  background-color: #ffffff;
} */



#about h1{
  font-size: 31px;
  font-weight: 550;
}

#about h2 {
   font-size: 20px;
  font-weight: 500;
  margin-bottom: 2.50px;
}


.rulesContainer{
  color: #f2f2f2;
  font-size: 28px;
  width: 100%;
  height: 332px;
  text-align: left;
  align-self: center;
  font-weight: 700;
  background-image: url(../images/rules.jpg);
   background-size: cover;
   border-radius: 10px;
  
}


.rulesTitleContainer{
  padding-left: 140px;
  padding-top: 82.53px;
}


.rulesTitle{
 font-size: 35px;
}

.rulesSubtitle{
  font-size: 17px !important;
  font-weight: 400;

}

#rules h2 {
  font-size: 25px;
}

#rules h3{

  font-size: 20px;
  font-weight: 500;
}


#onGooglemaps{
   width: 100%;
  height: 332px;  

}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  background: #fff;
  border: 2px solid #2f62a1; /* purple */
  cursor: pointer;
  position: relative;
}

.range-min::-webkit-slider-thumb { z-index: 4; }
.range-max::-webkit-slider-thumb { z-index: 5; }

/* Chrome, Safari, Edge, Opera */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
   border-color: #ebebeb;
   outline: none;
}



.sellingItemContainer{
  width: 75.7%;
}

.filterDiv{
  background-color: #ffffff;
  width: 244px;
  border-radius: 10px;
  border-width: 1px;
  border-color: #ebebeb;
  padding: 16px;
}


#items h1{
  font-size: 19px;
  font-weight: 700;
}

#items h2{
  font-size: 17px;
}

#items h3{
  font-size: 14px;
  font-weight: 700;
}

.filterBttn{
  border-radius: 10px;
  border-color:  #ebebeb;
  border-width: 1px;
  padding: 4px 10px 4px 10px;
  font-weight: 500;
  width: 145px;
  margin-left: auto;
  z-index: 4;
  font-size: 12.4px;
}




.cleanButtn{
  font-size: 12px;
  color:#788082;
  font-weight: 500;
}

.isOpenSortListContainer{
  position: absolute;
  z-index: 1;
  width: 140px;
  border-color:  #ebebeb;
  font-weight: 550;
  border-radius: 10px;
  border-width: 1px;
}

.isOpenSortListContainer li{
  font-size: 12px;
  font-weight: 400;
}


@keyframes dropdown {
  0% {
    opacity: 0;
    transform: translateY(-35%) scale(0.95);
  }
  100% {
    opacity: 1;
    transform: translateY(0%) scale(1);
  }
}

.animate-dropdown {
  animation: dropdown 0.7s ease-out forwards;
}



.itemContainer{
  border-radius: 25px;
  width: 200px;
  height: 310px;
  border-width: 1px;
  border-color: #ebebeb;
  padding-top: 5px;
  background-color: #fff;
}


.buttonInItems {
  background-color: #2f62a1;
  color: white;
  padding: 12px 19px;
  border: none;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-top: 1.70rem;
}

.buttonInItems:hover {
  background-color: #244c7a;
  transform: translateY(-2px);
  box-shadow: 0 6px 12px rgba(0,0,0,0.15);
}

.buttonInItemsContainer{
  width: 100%;
  padding-right: 17px;
}



.buttonInItemsBuy {
  background-color: #2f62a1;
  color: white;
  padding: 8px 35px;
  border: none;
  border-radius: 20px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-top: 1.40rem;
}

.buttonInItemsBuy:hover {
  background-color: #244c7a;
  transform: translateY(-2px);
  box-shadow: 0 6px 12px rgba(0,0,0,0.15);
}

.buttonInItemsBuyCall {
  background-color: #fff;
  color: #caced5;
  padding: 8px 8px;
 
  border-radius: 50%;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-top: 1.40rem;
  border-width: 0.5px;
  border-color: #ebebeb;
}

.buttonInItemsBuyCall:hover {
  color:#244c7a;
  transform: translateY(-2px);
  box-shadow: 0 6px 12px rgba(0,0,0,0.15);
}

.itemPageDiv{
  width: 70%;
}

#item .contentContainer{
  border-radius: 10px;
  border-width: 1px;
  border-color: #ebebeb;
}

.itemPageDiv h1{
  font-size: 17px;
  font-weight: 700;
}

.itemPageDivSubD{
   border-radius: 10px;
  border-width: 1px;
  border-color: #ebebeb;
  padding: 20px;
  color: #8a8082;
}


.itemPageDivSubDGray{
   border-radius: 10px;
  border-width: 1px;
  border-color: #ebebeb;
  margin: -20px;
  margin-top: 20px;
  color: #8a8082;
  padding: 20px;
  background-color: #fafafa;
  padding-top: 28px !important;
  padding-bottom: 28px !important;
}

.itemPageDivSubD .ml-auto{
  color: #141719;
  font-weight: 550;}

.category{
  margin: 16px 0px 16px 0px;
  font-size: 12.70px;
  

  color: oklch(55.1% 0.027 264.364);
  font-weight: 400;
}

.categoryActive{
  color: black;
  font-weight: 500;
}



.vacanciesDiv{
  width: 100%;
  border-radius: 10px;
  border-width: 1px;
  border-color: #ebebeb;
  padding: 20px;
  background-color: #ffffff;
  margin-top: 35px;
}




@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px); /* slight slide */
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fadeIn {
  animation: fadeIn 1.4s ease-in-out;
}




.vacanciesContent h3{
  font-size: 17px;
  font-weight: 550;
}
.vacanciesContent h4{
  font-size: 15.1px;
  font-weight: 500;
}






@media (max-width: 1280px) {
  .contentContainer {
    width: 95%;
  }

  .mainText{
  font-size: 22.5px !important;
  font-weight: 700;
}

h2{
  font-size: 20px;}


.button {
        font-size: 14px !important;
    }

  .textOnInvitationContainer{
  font-size: 25px;
}

.PercentCubeImageContainer{
  width: 32%;
}


.boxHeading{
  font-size: 17px;}

}


@media (max-width: 1024px) {
  .leaveItemContainer{
    max-width: none !important;
    width: 100% !important;
    margin-right: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
    max-height: 230px !important;
    
  }

  .similarImgsContainer{
    max-width: none !important;
    width: 100% !important;
    margin-right: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
    
  }

  .textOnContainer{color: #f2f2f2;
  font-size: 17.8px;
  width: 100%;
  height: 35%;
  text-align: left;
  margin-top: 0;
  margin-bottom: 32px;
  margin-left: 10px;
  align-self: center;
  font-weight: 599;}

  .textOnSimilarContainer{
    font-size: 17.8px;
  }

  .leaveItem{
    max-width: none !important;
  width: 100% !important;
  margin: 0 !important;
    padding: 0 !important;}

  .buyItem, .sellItem{
    width: 100% !important;
    max-width: none !important;
    margin: 0 !important;
    padding: 0 !important;

  }

  .textOnInvitationContainer{
  font-size: 22.5px;

}


.PercentCubeImageContainer{
  height: 225px;
}

.PercentCubeImageContainer{
  width: 307px;
}



.rulesTitleContainer{
  padding-left: 100px;
  padding-top: 82.53px;
}

#items .contentContainer{
  width: 100% !important;

}

.itemContainer{
  width: 156px;
  height: 268px;
}

#items h3{
  font-size: 12px;}


.buttonInItemsBuy {
 
  padding: 8px 25px;
  font-size: 12px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-top: 0.70rem;
  margin-bottom: 1rem;
} 


.buttonInItemsContainer {
    width: 100%;
    padding-right: 10px;
   
}

.buttonInItemsBuyCall{
  margin-top: 0.70rem;
  margin-bottom: 1rem;
}

#root{
  font-size: 12px;
}

}




@media (max-width: 768px) {
  .almostCubeImageContainer {
  
  position: relative;
  margin: auto;
  height: 350px !important;
  margin-right: 0 !important;
  margin-left: 0 !important;
  
}

.almostCubeImg{
  height: 250px !important;
}

  .containFlex-1s .flex-1{
    width: 100% !important;
    max-width: 100%;
  }

.containFlex-1s .button {
  width: 40% !important;
  margin-top: 5px !important;
}

#about h1{
  font-size: 22.5px;
  font-weight: 550;
}

#rules h2 {
  font-size: 20px;
}

#rules h3{

  font-size: 17.9px;
  font-weight: 500;
}






.rulesTitleContainer{
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 170px;
  width: 100% !important;
}

.rulesTitle{
 font-size: 22.5px;

}
.rulesSubtitle{
  font-size: 16.1px !important;
  font-weight: 400;}
  



  .rulesTitleContainer button{
    width: 100% !important;
    margin-top: 14px;
  }

  .itemPageDiv{
  width: 100%;
}
}



@media (max-width: 640px){
.containFlex-1s .button {
  width: 100% !important;
  margin-top: 5px !important;
}


    .slideshow-container .text {
        top: 8rem !important;
        font-size: 25px !important;
        height: 100px;
        align-items: end !important;
    }

    .button {
        margin-top: 2rem;
        width: 100% !important;
    }








#item .buttonInItemsBuy {
  width: 100% !important;
justify-content: center !important;
display: flex !important;

}


#root{
  font-size: 10.90px;
}





#items h1{
  font-size: 17.43px;
  font-weight: 700;
}







}